body {
    background-color: #181818;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.logo {
    position: flex; /* Lo posiciona en la esquina */
    top: 5px;
    left: 5px;
    background-color: green;
}

.logo img {
    width: 150px; /* Cambia el tamaño del logo si es necesario */
}

h1 {
    font-size: 3rem;
    align-items: center;
    text-align: center;
    margin-bottom: 0rem; /* Menos espacio debajo del título */
}

.descripcion {
    color: #b0b0b0;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 3rem; /* Más espacio debajo de la descripción */
}

.button-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2rem;
}

button {
    background-color: #282828;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #383838;
}

button:active {
    background-color: #555;
}

a {
    text-decoration: none;
    color: white;
}

.red-button {
    background-color: rgb(212, 0, 0);
}

.red-button:hover {
    background-color: darkred;
}