body {
    background-color: #181818;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.logo-container {
    position: absolute; /* Lo posiciona en la esquina */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 10px; /* Ajusta la distancia desde la izquierda */
}

.user-points{
    position: absolute; /* Lo posiciona en la esquina */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde la izquierda */
}

.logo-img {
    width: 50px; /* Cambia el tamaño del logo si es necesario */
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.gallery {
    display: flex; /* Cambiar a flex para que se alineen en una fila */
    justify-content: center; /* Espacio igual entre los elementos */
    max-width: 1000px; /* Ancho máximo de la galería */
    flex-wrap: wrap;
    margin-top: 64px;
}

.item {
    align-items: center;
    text-align: center;
    max-width: 218px;
    flex: 1; /* Permite que los elementos se distribuyan equitativamente */
    margin: 0 1rem; /* Espacio horizontal entre elementos */
}

.image-container {
    border-radius: 8px;
    width: 100%;
    height: 125px;
    background-color: black;
}

img {
    width: 100%; /* La imagen ocupará el 100% del contenedor */
    border-radius: 8px; /* Bordes redondeados pa */
    object-fit: contain;
    height: 100%;
    
}

.title-text {
    font-size: 13px;
    margin-top: 0.5rem; /* Espacio entre la imagen y el título */
    font-weight: bold;
    text-align: left;
}

.counter-container {
    border-radius: 100px;
    text-align: center;
    background-color: rgb(230, 0, 0);
    width: 70px;
}


.fade-text {
    position: absolute;  /* Ajusta según tu diseño */
    font-size: 24px;     /* Tamaño del texto */
    color: green;        /* Color del texto */
    opacity: 0;          /* Empieza completamente desvanecido */
    transform: translateY(0); /* Posición inicial */
}

@keyframes fadeUp {
    0% {
        opacity: 0;            /* Desvanecido */
        transform: translateY(20px); /* Un poco más abajo */
    }
    50% {
        opacity: 1;            /* Totalmente visible */
        transform: translateY(0);    /* Posición original */
    }
    100% {
        opacity: 0;            /* Se desvanece de nuevo */
        transform: translateY(-20px); /* Se mueve hacia arriba */
    }
}

.fade-in-up {
    animation: fadeUp 3s ease; /* Ajusta la duración y el efecto de la animación */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        margin-left: 20px;
        margin-right: 20px;
    }

    .gallery {
      display: block; /* Ajustar el espaciado */
    }
    .item{
        margin-bottom: 20px;
        max-width: 300px;
    }

    .image-container {
        height: 170px;
        background-color: black;
    }
  
}